<script src="https://kit.fontawesome.com/17b998fcdb.js" crossorigin="anonymous"></script>





    <h1>Codeial / <%= title %></h1>

    <section id = "main-section">

      

    <section id = "feed-post">

      <div class="post-field">
        <h4>Posts</h4>
        <form action="/posts/create" id = "new-post-form" method = "POST">
           <!-- <input type="text" name = "content1"> -->
            <textarea name="content"  cols="30" rows="3" placeholder="Type here...." required></textarea>
            <input type="submit" value = "Post" class = "btn">
            <!-- <button type="submit"  class = "btn">Post</button> -->
        </form>
      </div>

        <div class="posts-list-container">

            
<% for(let post of posts) {%> 

  <div class="post">
    <h3>Post-Content:</h3>
    <p><%= post.content %> </p>  
     
    <% if(locals.user && locals.user.id == post.user.id) {%> 
        
      <a href="/posts/destroy/<%= post.id %>">
        <input type="submit" value = "Detete" class = "btn">
      </a>
  
    <% } %>
    
  
    <h3 class = "name"> By: <%= post.user.name %> </h3>
  
  </div>
  
  <div class = "post-comment">
     <h4>Comments :</h4>
     <form action="/comment/create" method="POST">
      <textarea name="comment" cols="20" rows="2" placeholder="Enter comment.." required></textarea>
      <input type="hidden" name = "post" value = " <%= post._id %> ">
      <input type="submit" value = "Make Comment" class = "btn">
     </form>
  
     <h5>comment:- </h5>
      
     <% for(let comment of post.commentIds) { %> 
       
       <div class="comment-section">
           <p> <%= comment.content %> by : <%= comment.commentByUser.name %>
               
            <% if( locals.user && locals.user.id == comment.commentByUser.id ) { %> 
                     
              <a href="/comment/destroy/<%= comment.id %>"><i class="fa-sharp fa-solid fa-trash"></i></a>
  
            <% } %>
  
          </p>
           
       </div>
  
  
      <% } %>
     
  </div>
      
              



  <% } %>
        

        </div>
    </section>

  


 <% if(locals.user) {%> 

  
  <section id = "user-friends">
    <h4>Friends</h4>

    <% for(let u of all_users) {%> 
          
      <p>
        <a href="/users/profile/<%= u.id %>"> <%= u.name %> </a>
      </p>

    <% } %>

  </section>

  
  <%} %>
    
    </section>

  <script src="/js/home_posts.js" defer></script>




    

    