<link rel="stylesheet" href="/css/user_profile.css">

<h1>Codeial/Profile Page</h1>

     <a href="http://127.0.0.1:8001/">HOME</a>

        <p>
          NAME :  <%= profile_user.name %> <br>
          E-MAIL : <%= profile_user.email %>
        </p>

          

   <!-- if the user matches then,I will show the form to update user's profile -->
   <% if(user.id == profile_user.id) { %> 
        <h3>Update-Form</h3>
         <form action="/users/update/<%= profile_user.id %>" method="POST">
            <input type="text" name = "name" placeholder="Name" value = "<%= profile_user.name%>" required> 
            <input type="email" name = "email" placeholder="E-mail" value = "<%= profile_user.email%>" required> 
            <input type="submit" value = "update">
         </form>


     <% } else {%>
              <p>
               NAME :  <%= profile_user.name %> <br>
               E-MAIL : <%= profile_user.email %>
             </p>
    <% } %>